<!DOCTYPE html>
<html ng-app='MeuApp'>
<head>
  <title></title>
  <script type="text/javascript" src='angular.js'></script>
  <script type="text/javascript">
  angular.module('MeuApp', []);

  angular.module('MeuApp').controller('testeCTRL', function($scope) {
    $scope.user = {
      name: 'Vinicius',
      age: 34
    }

    $scope.salvar = function() {
      console.log($scope.user);
    };

    $scope.mudar = function() {
      $scope.user.age = 555;
    }
  });


  </script>
</head>
<body ng-controller='testeCTRL'>
  <input type='text' ng-model='user.name'/>
  <p ng-bind= 'user.name'></p>
  <p ng-bind= 'user.age'></p>
  <button ng-click='salvar()'>Salvar</button>
  <button ng-click='mudar()'>Mudar idade</button>
</body>
</html>
